header{
    padding-bottom: 50px;
    background-image: url("images/topbg1.png") , url("images/top.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #484848;
}
.nav-item {
    margin: 0 10px;
}
.menu{
    background-color: #f875709c;
}
.nav-item > a {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
.slider{
    height: 600px;
}
.slider-details h1{
    font-weight: 700;
    color: white;
    font-size: 50px ;
}
.slider-details p{
    color: white;

}
.my-button{
    background-color: white;
    color: #FD667B;
    padding: 8px 45px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    border-radius: 30px;
    margin-top: 10px;
    transition: .5s;
}
.my-button:hover {
    box-shadow: 0px 5px 30px #00000052;
    text-decoration: none;
    color: #FD667B;
}
.foods{
    background-color: #FF7F7F;
    position: relative;
}
.s1 {
    width: 90px;
    position: absolute;
    top: 350px;
    left: 10px;
}
.s2 {
    width: 120px;
    position: absolute;
    top: 150px;
    right: 10px;
}
.best-title h1{
    font-size: 50px;
    font-weight: 700;
    color: white;
}
.best-title p{
    color: white;
}
.food{
    padding: 40px !important;
}
.food h4{
    font-size: 30px;
    color: white;
    font-weight: 700;
}
.food p{
    color: white;
    font-size: 15px;
}
.mid{
    background-image: url("images/midbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 20px 0px 40px 0px !important;
}
.plate{
    width: 400px;
}
.mid-h{
    height: 500px;
}
.plate-details h1{
    font-weight: 700;
    color: #FF7F7F;;
    font-size: 50px ;
}
.plate-details p{
    font-weight: 700;
    color: #FF7F7F;
    font-weight: 400;
}
.plate-button{
    background-color: #FF7F7F;
    color: white;
    padding: 8px 45px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    border-radius: 30px;
    margin-top: 10px;
    transition: .5s;
}
.plate-button:hover {
    box-shadow: 0px 5px 30px #00000052;
    text-decoration: none;
    color: white;

}
.circless{
    border:5px solid white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.circless h4{
    font-size: 50px;
    color: white;
    font-weight: 700;
}
.circless p{
    font-size: 25px;
    color: white;
    font-weight: 500;
}
.stact{
    padding-bottom: 40px;
    position: relative;
}
.s3 {
    width: 120px;
    position: absolute;
    top: 200px;
    left: 5px;
}
.s4 {
    width: 120px;
    position: absolute;
    top: 0;
    right: 20px;
}
.s5 {
    width: 120px;
    position: absolute;
    top: 300px;
    right: 35px;
    z-index: 2;
}
.whitebg{
    padding: 20px !important;
    background-color: white;
    position: relative;
}
.lower{
    padding: 30px !important;
    min-height: 500px;
    background-image: url("images/lowerbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.s6 {
    width: 120px;
    position: absolute;
    top: 50px;
    left: 30%;
}
.s7 {
    width: 120px;
    position: absolute;
    top: 200px;
    right: 20px;
}
.s8 {
    width: 120px;
    position: absolute;
    top: 400px;
    left: 10px;
}
.reviewrs h1{
    font-size: 50px;
    color: white;
    font-weight: 700;
}
.reviewrs p{
    font-size: 15px;
    color: white;

}
.form{
    background-image: url("images/lowerbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    padding: 20px;
    position: relative;
}
.s9 {
    width: 135px;
    position: absolute;
    left: 30%;
    bottom: 70px;
}
.form-details{
    padding: 100px 0;
}
.form-details h1{
    font-weight: 700;
    color: #FF7F7F;
    font-size: 50px ;
}
.form-details p{
    font-weight: 700;
    color: #FF7F7F;
    font-weight: 400;
}
form{
    width: 100%;
    height: 40px;
}
.form-width{
    width: 80%;
}
input{
    width: 70%;
    padding-left: 10px;
    background: #f4f4f4;
    border: none;
    outline: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#subs{
    background-color: #ff7f7f;
    border: none;
    padding: 0 30px;
    color: white;
    border-radius: 20px;
    position: relative;
    right: 25px;
    font-weight: 700;
    transition: 1s;
}
#subs:hover {
    background: black;
}
footer{
    background-color: #111;
    color: #fff;
    padding: 30px;
}
.footer-list h2{
    font-size: 25px;
    font-weight: 700;
}
.footer-list p{
    font-size: 12px;
}
.footer-list ul > li{
    list-style: none;
    font-weight: 300;
    margin-top: 5px;
    border-bottom: 1px solid gray;
    padding-bottom: 7px;
}
.footer-list ul > li:nth-child(1){
    font-size: 20px;
    font-weight: 700;
    border: none;
}
.icons img {
    border: 2px solid #bababa;
    padding: 5px;
    border-radius: 50%;
    margin: 0 8px;
    transition: 1s;
}
.icons img:hover {
    transform: rotateY(360deg);
}


@media (max-width:765px){
    .s7 {
        top: -11px;
    }
    .s8 {
        top: 425px;
        left: 145px;
    }
    .s6 {
        top: 10px;
        left: 10%;
    }
    .s4 {
        top: -115px;
    }
    .s5 {
        width: 95px;
        bottom: 200px;
    }
    .slider {
        height: 1000px;
    }
    .s2 {
        width: 155px;
        top: -220px;
        right: 78px;
    }
}